@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SuperHeroes</h1>
    <style>
        .img{
            display:block;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
    <img src ="css/superhero.jpeg"alt="staring at city"style="width:100%"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
